<phpunit
  bootstrap="bootstrap.php"
  backupGlobals="false"
  backupStaticAttributes="false"
  syntaxCheck="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
>
  <filter>
    <whitelist>
      <directory suffix=".php">../src/mg/PAGI</directory>
      <exclude>
          <directory suffix="Launcher.php">../src/mg/PAGI/Application</directory>
      </exclude>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="Mock">
      <directory suffix=".php">mock</directory>
    </testsuite>
    <testsuite name="Node">
      <directory suffix=".php">node</directory>
    </testsuite>
    <testsuite name="CallSpool">
      <directory suffix=".php">spool</directory>
    </testsuite>
    <testsuite name="ChannelStatus">
      <directory suffix=".php">status</directory>
    </testsuite>
    <testsuite name="Client">
      <directory suffix=".php">client</directory>
    </testsuite>
    <testsuite name="CallerID">
      <directory suffix=".php">callerid</directory>
    </testsuite>
    <testsuite name="ChannelVariables">
      <directory suffix=".php">channelvars</directory>
    </testsuite>
    <testsuite name="CDR">
      <directory suffix=".php">cdr</directory>
    </testsuite>
    <testsuite name="Autoloader">
      <directory suffix=".php">autoloader</directory>
    </testsuite>
    <testsuite name="Dialdescriptor">
      <directory suffix=".php">dialdescriptor</directory>
    </testsuite>
    <testsuite name="AsteriskLogger">
      <directory suffix=".php">asterisklogger</directory>
    </testsuite>
    <testsuite name="Application">
      <directory suffix=".php">application</directory>
    </testsuite>
  </testsuites>
</phpunit>
